<html>
<head>
<script src='./web_libraries/jquery.min.js' type='text/javascript'></script>
<script src='./web_libraries/sorttable.js'></script><link rel='stylesheet' href='./web_libraries/bootstrap.min.css'>
<script src='./web_libraries/DataTables/datatables.js'></script><link rel='stylesheet' href='./web_libraries/DataTables/datatables.css'>
<script type= 'text/javascript'> $(document).ready( function () {$('#id_table').DataTable();} ); </script>
</head>


<body>
<h2>Modules Requiring Release</h2>
<table border='1' id = 'id_table' style='width:100%' class='sortable table table-hover'> <tr>
<th>Module Name</th>
<th>Last Release Tag Date</th>
<th>Commits Since Then</th>
<th>Number of downloads</th>
</tr>
<% repo_data.each do |puppet_module| %>
  <tr>
  <td><a target ="_blank" href='https://github.com/<%= puppet_module['repo']%>'><%=puppet_module['repo']%></a></td>
  <td><%= puppet_module['date']%></td>
  <td align=\"center\"><%= puppet_module['commits']%></td>
  <td align=\"center\"><%= puppet_module['downloads']%></td>
  </tr>
<% end %>
</body>
</html>

